.ListItem {
  flex-wrap: wrap; /* For due date to show up on next line */
  align-items: baseline !important;
  background-color: white;

  .handle-list-item {
    cursor: move;
    color: #ccc;
    padding-right: 0.6rem;
    margin-left: -0.2rem;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 125%;
      height: 150%;
      top: -27%;
      left: -36%;
    }
  }

  /* input[type='checkbox'] {
    transform: scale(1.2);
  } */

  .action-btns {
    position: relative;
    cursor: pointer;
    outline: none;
    color: #999;

    &:hover,
    &:focus {
      color: #333;
    }

    &::after {
      /* this rule to increase clickable/hoverable area */
      content: '';
      position: absolute;
      width: 500%;
      height: 150%;
      top: -27%;
      left: -200%;
      /* background: rgba(200, 0, 0, 0.3); */
    }

    ul {
      position: absolute;
      top: 32px;
      right: -19px;
      visibility: hidden;
      opacity: 0;
      list-style: none;
      display: inline-block;
      background-color: white;
      z-index: 9999;
      width: 200px;
      box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 7px 0;
      transition: opacity 0.4s, visibility 0.4s;

      &::after {
        content: '';
        border-top: 0;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid white;
        border-left: 0.5rem solid transparent;
        position: absolute;
        top: -0.5rem;
        right: 14px;
      }

      li {
        padding: 0.5rem 1rem;
        display: block;
        cursor: pointer;
        &:hover {
          background: #eee;
        }
      }
    }

    &:hover > ul {
      visibility: visible;
      opacity: 1;
    }

    .duedate-popup {
      z-index: 99999;

      .react-datepicker__triangle {
        right: 24px;
        left: auto;
      }

      .react-datepicker__day--outside-month {
        color: #aaa;
      }

      .clear-btn {
        width: 100%;
      }
    }
  }

  .editable-list-item {
    outline: none;
    cursor: pointer;
    flex: 1;
    margin-right: 0.5rem;
    &:focus {
      background-color: rgba(255, 255, 0, 0.3);
    }
  }

  .duedate {
    border-top: 1px solid #eee;
    margin-top: 0.6rem;
    flex-basis: 100%;
    font-size: 0.8rem;
    padding-top: 5px;
    color: #888;

    strong {
      color: #666;
    }
  }
}

.list-item-drag {
  cursor: move;
  .handle-list-item {
    color: #444;
  }
}

.list-item-ghost {
  cursor: move;
  background: rgba(90, 169, 214, 0.2);
}

.list-item-chosen {
  cursor: move;
  /* opacity: 1 !important; */
}

.react-datepicker__input-container {
  display: block;
}
