.List {
  .panel {
    background-color: white;
  }
  .panel-tabs button {
    border-width: 0;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: -1px;
    padding: 0.5em;
    cursor: pointer;
    outline: none;
    color: #888;
    background-color: transparent;
    &.is-active {
      border-bottom-color: dodgerblue;
      color: dodgerblue;
    }
  }

  .list-msg {
    font-size: 1rem;
    text-align: center;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    padding: 3rem 0;
    color: #888;
  }

  .progressbar-wrapper {
    background-color: #eee;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;

    .progressbar {
      background-color: lime;
      height: 3px;
      transition: width 0.7s ease-in-out, background-color 0.7s ease-in-out;
    }
  }

  .panel-heading {
    display: flex;
    align-items: center;

    .handle-list {
      cursor: move;
      color: #ccc;
      padding-right: 0.6rem;
      margin-left: -0.2rem; /* 
      transition: color 0.4s ease;
      &:hover {
        color: #aaa;
      } */

      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 125%;
        height: 160%;
        top: -27%;
        left: -40%;
      }
    }

    .action-btns {
      float: right;
      opacity: 0.5;
      transition: opacity 0.4s ease-in-out;
      &:hover {
        opacity: 1;
      }

      .delete-list-btn {
        background-color: transparent;
        border: 0;
        padding: 0;
        font-size: 1.2rem;
        color: #bbb;
        cursor: pointer;
        transition: color 0.4s ease;
        &:hover {
          color: tomato;
        }
      }
    }
  }

  span.list-title {
    outline: none;
    display: block;
    flex: 1;
    cursor: pointer;
    margin-right: 0.5rem;
    &:focus {
      background-color: rgba(255, 255, 0, 0.3);
    }

    /* &:focus {
      background-color: rgb(255, 255, 100);
    } */
  }
}

.list-drag {
  cursor: move;
  .panel {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
    opacity: 1 !important;
    .handle-list {
      color: #444;
    }
  }
}

.list-ghost {
  cursor: move;
  .panel {
    /* box-shadow: 0 0 0px 3px rgba(90, 169, 214, 0.3); */
    border-radius: 5px 5px 0 0;
    background: rgba(90, 169, 214, 0.2);
    * {
      visibility: hidden;
    }
  }
}

.list-chosen {
  cursor: move;
  /* opacity: 1 !important; */
}
