.ListItem {
  flex-wrap: wrap; /* For due date to show up on next line */
  align-items: baseline !important;
  background-color: white;

  .handle-list-item {
    cursor: move;
    color: #ccc;
    padding-right: 0.6rem;
    margin-left: -0.2rem;
  }

  input[type='checkbox'] {
    background-color: green;
  }

  .action-btns {
    button {
      outline: 0;
    }

    .duedate-btn,
    .delete-btn {
      font-size: 1rem;
      background-color: transparent;
      border-width: 0;
      cursor: pointer;
      outline: 0;
      color: #ccc;
      transition: color 0.4s ease;
      padding-left: 5px;
      padding-right: 5px;
    }

    .duedate-btn {
      &:hover,
      &:focus {
        color: #888;
      }
    }

    .duedate-popup {
      z-index: 99999;

      .react-datepicker__triangle {
        right: 24px;
        left: auto;
      }

      .react-datepicker__day--outside-month {
        color: #aaa;
      }

      .clear-btn {
        width: 100%;
      }
    }

    .delete-btn {
      font-size: 1rem;
      background-color: transparent;
      border-width: 0;
      cursor: pointer;
      outline: 0;
      color: #ccc;
      transition: color 0.4s ease;
      &:hover {
        color: tomato;
      }
    }
  }

  .editable-list-item {
    outline: none;
    cursor: pointer;
    flex: 1;
    margin-right: 0.5rem;
    &:focus {
      background-color: rgba(255, 255, 0, 0.3);
    }
  }

  .duedate {
    border-top: 1px solid #eee;
    margin-top: 0.6rem;
    flex-basis: 100%;
    font-size: 0.8rem;
    padding-top: 5px;
    color: #888;

    strong {
      color: #666;
    }
  }
}

.list-item-drag {
  cursor: move;
  .handle-list {
    color: #444;
  }
}

.list-item-ghost {
  cursor: move;
  background: rgba(90, 169, 214, 0.2);
}

.list-item-chosen {
  cursor: move;
  /* opacity: 1 !important; */
}
